# Exercício 13
Nome: Convertendo Celsius/Farenheit
Objetivo: Escrever duas funções de conversão, uma de graus celsius em farenheit e a outra que faça o contrário.
Dificuldade: Principiante

1 - Crie um aplicativo de conversão entre as temperaturas Celsius e Farenheit.

2 - Primeiro o usuário deve escolher se vai entrar com a temperatura em Célsius ou Farenheit, depois a conversão escolhida é realizada.

3 - Se C é a temperatura em Celsius e F em Farenheit, as fórmulas de conversão são:
F = (9 * C / 5) + 32
C = 5 * (F - 32) / 9

In [27]:
# Declaração
def converter_celsius_fahrenheit(celsius):
  F = (9 * celsius / 5) + 32
  print(f'{celsius}°C = {F}°F')
  

converter_celsius_fahrenheit(0)

def converter_fahrenheit_celsius(fahrenheit):
  C = 5 * (fahrenheit - 32) / 9
  print(f'{fahrenheit}°F = {C}°C')

converter_fahrenheit_celsius(32)
# Execução

0°C = 32.0°F
32°F = 0.0°C

In [28]:
# Deixando o usuário escolher o que quer fazer

escolha_usuario = input("Você quer converter para qual escala? ('C' para Celsius ou 'F' para Fahrenheit)\n").upper()

if escolha_usuario == "C":
  escala = "F"
elif escolha_usuario == "F":
  escala = "C"

temperatura = float(input(f"Digite o valor da temperatura, em º{escala}:"))

if escolha_usuario == "C":
  converter_fahrenheit_celsius(temperatura) 
elif escolha_usuario == "F":
  converter_celsius_fahrenheit(temperatura)

Você quer converter para qual escala? ('C' para Celsius ou 'F' para Fahrenheit)
c
Digite o valor da temperatura, em ºF:32
32.0°F = 0.0°C

In [39]:
# Funções com retorno

def soma(a, b):
  return a + b

resultado_soma_1 = soma(5, 10)
resultado_soma_2 = soma(10, 20)

# resultado_final = resultado_soma_1 + resultado_soma_2
resultado_final = soma(resultado_soma_1, resultado_soma_2)

print(resultado_final)

45

In [49]:
# Lista 

numeros = [1, 5, 7, 10, 20, 50]
# Índices [0, 1, 2,  3,  4]
print("Último número:",numeros[-1])

print("Quantidade de números:", quantidade_numero)
quantidade_numero = len(numeros)

ultimo_indice = quantidade_numero
ultimo_numero = numeros[ultimo_indice - 1]
print(ultimo_numero)

Último número: 50
Quantidade de números: 5
50

In [51]:
lista_numeros = [2, 5, 7, 10]
indice = 0

lista_numeros[indice] = 100

print(lista_numeros)

[100, 5, 7, 10]

In [56]:
numeros = []

print(numeros)

numeros.append(10)
numeros.append(1)
numeros.append(9)
numeros.append(100)
numeros.insert(0, 999)

print(numeros)

[]
[999, 10, 1, 9, 100]

In [58]:
# ordenar

numeros = [1, 3, 9, 2, 20, 7, 8]

numeros.sort(reverse=True)

print(numeros)

[20, 9, 8, 7, 3, 2, 1]

In [59]:
# visualizando todos os itens de uma lista
# for

numeros = [1, 3, 9, 2, 20, 7, 8]

for numero in numeros:
  print(numero * 2)

2
6
18
4
40
14
16

In [69]:
# visualizando todos os itens de uma lista
# for

numeros = [1, 3, 9, 2, 20, 7, 8]
numeros_dobro = []

for numero in numeros:
  # print("Início do for:", numero, numeros, numeros_dobro)
  numeros_dobro.append(numero * 2)
  print("Execução do for para o número:", f'{numero} * 2 = {numero * 2}', numeros_dobro)

print(numeros)
print(numeros_dobro)

Execução do for para o número: 1 * 2 = 2 [2]
Execução do for para o número: 3 * 2 = 6 [2, 6]
Execução do for para o número: 9 * 2 = 18 [2, 6, 18]
Execução do for para o número: 2 * 2 = 4 [2, 6, 18, 4]
Execução do for para o número: 20 * 2 = 40 [2, 6, 18, 4, 40]
Execução do for para o número: 7 * 2 = 14 [2, 6, 18, 4, 40, 14]
Execução do for para o número: 8 * 2 = 16 [2, 6, 18, 4, 40, 14, 16]
[1, 3, 9, 2, 20, 7, 8]
[2, 6, 18, 4, 40, 14, 16]

In [1]:
# For indexado

for indice in range(10):
  print(indice)

0
1
2
3
4
5
6
7
8
9

In [5]:
numeros = [1, 3, 9, 2, 20, 7, 8]

for indice in range(len(numeros)): 
  numero = numeros[indice]
  print("Índice", indice, "temos o valor", numero)

Índice 0 temos o valor 1
Índice 1 temos o valor 3
Índice 2 temos o valor 9
Índice 3 temos o valor 2
Índice 4 temos o valor 20
Índice 5 temos o valor 7
Índice 6 temos o valor 8

In [9]:
# Encerrar o for de maneira forçada com break

numeros = [1, 3, 9, 2, 20, 7, 8]

for indice in range(len(numeros)): 
  numero = numeros[indice]
  print("Índice", indice, "temos o valor", numero)

  if indice == 2:
    break

Índice 0 temos o valor 1
Índice 1 temos o valor 3
Índice 2 temos o valor 9

In [1]:
# enumerate

numeros = [1, 3, 9, 2, 20, 7, 8]

enum = enumerate(numeros)
lista = list(enum)
print(lista)

[(0, 1), (1, 3), (2, 9), (3, 2), (4, 20), (5, 7), (6, 8)]

In [27]:
# Tuplas
# É fixa

tupla = (1, 5, 9, 7)

primeiro_numero = tupla[-1]

print(primeiro_numero, type(tupla))

7 <class 'tuple'>

In [4]:
numeros_2 = 5, 7

print(numeros_2, type(numeros_2))

(5, 7) <class 'tuple'>

In [6]:
tupla = ("Dari", "Alves")

print(tupla, type(tupla))

nome = tupla[0]
sobrenome = tupla[1]

print(nome, type(nome))
print(sobrenome, type(sobrenome))

('Dari', 'Alves') <class 'tuple'>
Dari <class 'str'>
Alves <class 'str'>

In [7]:
# Desconstrução de tuplas

nome, sobrenome = ("Dari", "Alves")

print(nome, type(nome))
print(sobrenome, type(sobrenome))

Dari <class 'str'>
Alves <class 'str'>

In [11]:
numeros = [1, 3, 6, 9]

enum = enumerate(numeros)

lista = list(enum)

print(lista[0], type(lista[0]))

indice, valor = lista[0]

print(indice, valor)

(0, 1) <class 'tuple'>
0 1

In [12]:
numeros = [1, 3, 6, 9]

for indice, valor in enumerate(numeros):
  print(indice, valor)

0 1
1 3
2 6
3 9

In [20]:
tupla = (1, 3, 5, 9)

print(tupla, type(tupla))

lista = list(tupla)

print(lista, type(lista))

print(lista[0], type(lista[0]))

(1, 3, 5, 9) <class 'tuple'>
[1, 3, 5, 9] <class 'list'>
1 <class 'int'>
[100, 3, 5, 9]

In [21]:
tupla2 = 1, 2, 3, 5, 7

print(sum(tupla2))

18

In [22]:
tupla = (5, 6, 9, 7, 3)

print(tupla, type(tupla))

# Transforma qualquer coisa em lista (desde que seja um tipo suportado)
lista = list(tupla)

lista[0] = 9

print(lista)

tupla = tuple(lista)

print(tupla)

(5, 6, 9, 7, 3) <class 'tuple'>
[9, 6, 9, 7, 3]
(9, 6, 9, 7, 3)

In [23]:
numeros = [30, 6, 1, 9, 6]

enum = enumerate(numeros)

lista = list(enum)

# Transformo o enum em lista apenas para exibí-lo no print
print(lista, type(lista))

print(lista[0], type(lista[0]))

indice, valor = lista[0]

print(indice, valor, type(indice), type(valor))

[(0, 30), (1, 6), (2, 1), (3, 9), (4, 6)] <class 'list'>
(0, 30) <class 'tuple'>
0 30 <class 'int'> <class 'int'>

In [27]:
numeros = [10, 2, 5, 7, 8, 25]

for indice in range(0, len(numeros), 2):
  print(indice)

0
2
4