<a href="https://colab.research.google.com/github/DariAlves/samsung-ocean-jornada-python-032021/blob/main/samsung_ocean_jornada_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
idade = 15
maior_idade = True

print("Maior idade: ", maior_idade, type(maior_idade))

Maior idade:  True <class 'bool'>

In [3]:
idade = 20
maior_idade = idade >= 18

print("Maior idade: ", maior_idade, type(maior_idade))

Maior idade:  True <class 'bool'>

In [7]:
idade = 20
altura = 202

maior_idade = idade >= 18

maior_que_dois_metros = altura >= 200

maior_idade_e_maior_que_dois_metros =  maior_idade and maior_que_dois_metros

print("Maior idade: ", maior_idade, type(maior_idade))
print("Mairo do que 2m: ", maior_que_dois_metros, type(maior_que_dois_metros))
print()
print("Maior idade e maior do que 2m: ", maior_idade_e_maior_que_dois_metros, type(maior_idade_e_maior_que_dois_metros))

Maior idade:  True <class 'bool'>
Mairo do que 2m:  True <class 'bool'>

Maior idade e maior do que 2m:  True <class 'bool'>

In [12]:
# Operadores: not
# O operador inverte o valor de um booleano

print('True', True)
print('False', False)
print('not True', not True)
print('not False', not False)

True True
False False
not True False
not False True

In [14]:
# Operadores: and

print('True and True:', True and True)
print('False and True:', False and True)
print('True and False:', True and False)
print('False and False:', False and False)

True and True: True
False and True: False
True and False: False
False and False: False

In [15]:
# Operadores: or

print('True or True:', True or True)
print('False or True:', False or True)
print('True or False:', True or False)
print('False or False:', False or False)

True or True: True
False or True: True
True or False: True
False or False: False

In [26]:
# Diferença entre texto e número

print('1 == 1:', 1 == 1) # True
print('1.0 == 1:', 1.0 == 1) # True
print('"1" == 1:', "1" == 1) # False
print('True == 1:', True == 1) # True
print('True == 2:', True == 2) # False
print('False == 0:', False == 0) # True
print('False == False:', False == False) #True

print()

print(type(1), type(1.0), type("1"))

1 == 1: True
1.0 == 1: True
"1" == 1: False
True == 1: True
True == 2: False
False == 0: True
False == False: True

<class 'int'> <class 'float'> <class 'str'>